.ebook-card{
  background:#1e293b;
  border-radius:14px;
  padding:12px;
  text-align:center;
}

.ebook-card img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:10px;
}

.ebook-card h3{
  margin-top:10px;
  font-size:16px;
}
